@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    43-45 Church St.<br/ >
    Portadown, County Armagh<br/ >
    <abbr title="Phone" > P: </abbr >
    048-38339040
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">karltallon@coldmail.com</a><br/>
</address>