@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IRFU Manager</h1>
    <p class="lead">
        An easy to use & free IRFU team manager! Create, edit & build whatever team you'd like!
    </p>
    <p>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO" class="btn btn-primary">Learn more &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>IRFU Website</h2>
        <p>
            The offical IRFU website, click below to find out more!
        </p>
        <p><a class="btn btn-success btn-lg" href="https://www.irishrugby.ie/">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>IRFU YouTube</h2>
        <p>
            The offical IRFU YouTube channel, click below to find out more!
        </p>
        <p>
            <a class="btn btn-success btn-lg" href="https://www.youtube.com/channel/UCn64VUStxkPK06ApqvV_MPA">Learn more &raquo;</a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>IRFU Twitter</h2>
        <p>
            The offical IRFU Twitter page, click below to find out more!
        </p>
        <p>
            <a class="btn btn-success btn-lg" href="https://twitter.com/irfurugby">Learn more &raquo;</a>
        </p>
    </div>
</div>